<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Login</title>
</head>
<body>
<div class="login-container">
    <div class="login-form">
        <h3>Вход</h3>
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!--            <input type="text" name="username" placeholder="Username">-->
            <!--            <input type="password" name="password" placeholder="Password">-->
            <button type="submit">Войти</button>

        </form>
        <a href="{% url 'users:registration' %}" class="" >Зарегистрироваться</a>
    </div>
</div>
</body>
</html>
