/* ... (предыдущий код стилей) ... */

/* Стили для формы авторизации */
.login-form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-form h3 {
    text-align: center;
    margin-bottom: 10px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #444;
}

/* ... (остальной код стилей) ... */
